<%= form_with(model: shortener, local: true, html: { class: 'form-horizontal' }) do |form| %>
  <% if shortener.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shortener.errors.count, "error") %> prohibited this shortener from being saved:</h2>

      <ul>
      <% shortener.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :main_domain, "URL" %><br>
    <%= form.text_field :main_domain, class: 'form-control' %>
  </div>

  <div class="actions"><br>
    <%= form.submit class: 'btn btn-success btn-block' %>
  </div>
<% end %>
